.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
 }

 .mt-container {
    margin-top: 80px;;
 }

 .max-hw-avatar {
    max-width: 52px;
    max-height: 52px;
 }